<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/favicon.ico">
    <meta name="theme-color" content="#212529">

    <title>L I B 3 R T Y</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dash.css" rel="stylesheet">
</head>

<body class="text-center back">
<div class="divide"></div>
    <form class="form-signin" onsubmit="return false">
        <a href="/login"><h2>L I B 3 R T Y</h2></a>
        <br><br>
        <input type="text" id="login" class="form-control form-control-sm form-signin-control" placeholder="Username">
        <input type="password" id="password" class="form-control form-control-sm form-signin-control" placeholder="Password">
        <button class="btn form-signin-control btn-block" id="button-login" type="submit">Login</button>
    </form>

    <script src="/js/jquery-3.4.1.js"></script>
    <script type="application/javascript" src="/js/login.js"></script>
</body>

</html>
